.modal-header {
    padding: 0;
    border-bottom: none;
    border: none;

    .modal-title {
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #343434;
        font-size: .84rem;
        padding: 12px 20px 11px;
        margin-bottom: 0;
        line-height: 1.5;

        i {
            margin-right: 9px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            background: #000000;
            color: #fff;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            vertical-align: top;
            font-size: .72rem;
        }
    }

    .close {
        float: right;
        font-size: .9rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .8;
        padding: 0.2rem 0.3rem;
        background: #000000;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        right: 7px;
        top: 7px;

        i {
            line-height: 12px;
            color: #fff;
            font-size: .72rem;
        }

        &:hover {
            opacity: 1;
            color: #000;
            text-decoration: none;
            cursor: pointer;
            opacity: .75;
            background: #909090;
        }

        &:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            opacity: .75;
        }
    }
}

.modal-backdrop {
    background: rgba(0, 0, 0, .5);
}

.modal.in {
    .modal-dialog {
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        margin: 0 auto;
        margin-top: 50vh;
    }
}

.modal-content {
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 0 10px rgba(34, 34, 34, .35);
    -moz-box-shadow: 0 0 10px rgba(34, 34, 34, .35);
    -ms-box-shadow: 0 0 10px rgba(34, 34, 34, .35);
    -o-box-shadow: 0 0 10px rgba(34, 34, 34, .35);
    box-shadow: 0 0 10px rgba(34, 34, 34, .35);
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border-radius: .5rem;
    border: none;
}

.modal-body {
    font-size: .72rem;
    padding: 0 20px;
    border-top: 1px dotted #828282;

    .divide-right {
        border-right: 1px dotted #828282;
    }

    .divide-left {
        border-left: 1px dotted #828282;
    }

    .product-name {
        font-size: .96rem;
        font-weight: 600;
        color: #343434;
    }

    .product-price {
        color: #343434;
        // font-size: .96rem;
        // font-weight: 700;
    }

    .cart-products-count {
        font-size: .96rem;
        color: #444;
    }

    >.row {
        padding-top: 22px;
        padding-bottom: 22px;
    }
}

.modal-footer {
    border-top: 1px dotted #828282;
    -webkit-justify-content: center;
    justify-content: center;

    button {
        padding-left: 37px;
        padding-right: 37px;
    }

    &>:not(:last-child) {
        margin-right: .5rem;
    }

    &>:not(:first-child) {
        margin-left: .5rem;
    }
}

.only-product {
    display: none !important;
}

.modal {
    & .layer {
        display: none;
    }
}

.product-actions {
    margin-top: 2rem;
}

.check.availb {
    i {
        color: green;
    }
}

.check.sold {
    i {
        color: red;
    }
}

.product-description-short {
    font-size: .78rem;
    margin-top: 5px;
}

.current-price {
    color: #343434;
    font-size: 1.08rem;
    font-weight: 700;

    .discount {
        font-size: .96rem;
        color: #666;
        font-weight: 700;
    }
}

.social-sharing {
    margin-top: 0;

    .dropdown-menu {
        padding: 0;

        i {
            margin-right: 1rem;
        }
    }
}

.in_border {
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
}

.product-add-to-cart {
    padding-top: 0;
}

.product-variants {
    .product-variants-item {
        select {
            min-width: 10rem;
        }
    }
}
