@import "../vendor/bootstrap/scss/bootstrap.scss";

@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

@import "../vendor/nivo-slider/css/nivo-slider.css";
@import "../vendor/nivo-slider/css/style.css";
@import "../vendor/slider-range/css/jslider.css";
@import "../vendor/datatables/dataTables.bootstrap4.min.css";

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #343434;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff5151;
}

.img-fluid {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media print {
    .no-print {
        display: none;
    }

    .text-truncate {
        overflow: initial;
        text-overflow: initial;
        white-space: initial;
    }

    .canvas_container {
        display: flex;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    #main_dash .dash_card {
        max-width: 50%;
    }
}

.table {
    table-layout: fixed !important;
}

@for $i from 1 to 100 {
    .w-#{$i} {
        width: #{$i}+'%' !important;
    }

    .h-#{$i} {
        height: #{$i}+'%' !important;
    }
}

.w-fit {
    width: fit-content !important;
}

.h-fit {
    height: fit-content !important;
}

@media (max-width:767px) {
    .text-xs-center {
        text-align: center;
    }
}

@import "custom.scss";
@import "responsive.scss";
@import "modal.scss";
@import "tab.scss";
@import "switch.scss";
// @import "featherlight.scss";

html,
a {
    scroll-behavior: smooth;
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;

    .step {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 25%;
        margin-top: -18px;
        text-align: center;
        position: relative;

        &.active:before {
            background: #FF5722;
        }

        &::before {
            height: 7px;
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            top: 18px;
        }

        &.active .icon {
            background: #ee5435;
            color: #fff;
        }
    }

    .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: relative;
        border-radius: 100%;
        background: #ddd;
    }

    .step.active .text {
        font-weight: 400;
        color: #000;
    }

    .text {
        display: block;
        margin-top: 7px;
    }
}

.nivoSlider img {
    height: 100% !important;
}

.nivo-main-image {
    height: 100% !important;
}

.payment {

    .ccicon {
        height: 39px;
        position: absolute;
        right: 29px;
        top: calc(50% - 7px);
        width: 44px;
    }

    #ccsingle {
        position: absolute;
        right: 15px;
        top: 20px;

        svg {
            width: 100px;
            max-height: 60px;
        }
    }

    .creditcard {
        svg#cardfront {
            width: 100%;
            -webkit-box-shadow: 1px 5px 6px 0px black;
            box-shadow: 1px 5px 6px 0px black;
            border-radius: 22px;
        }

        svg#cardback {
            width: 100%;
            -webkit-box-shadow: 1px 5px 6px 0px black;
            box-shadow: 1px 5px 6px 0px black;
            border-radius: 22px;
        }

        .lightcolor {
            -webkit-transition: fill .5s;
            transition: fill .5s;
        }

        .darkcolor {
            -webkit-transition: fill .5s;
            transition: fill .5s;
        }

        .lightblue {
            fill: #03A9F4;
        }

        .lightbluedark {
            fill: #0288D1;
        }

        .red {
            fill: #ef5350;
        }

        .reddark {
            fill: #d32f2f;
        }

        .purple {
            fill: #ab47bc;
        }

        .purpledark {
            fill: #7b1fa2;
        }

        .cyan {
            fill: #26c6da;
        }

        .cyandark {
            fill: #0097a7;
        }

        .green {
            fill: #66bb6a;
        }

        .greendark {
            fill: #388e3c;
        }

        .lime {
            fill: #d4e157;
        }

        .limedark {
            fill: #afb42b;
        }

        .yellow {
            fill: #ffeb3b;
        }

        .yellowdark {
            fill: #f9a825;
        }

        .orange {
            fill: #ff9800;
        }

        .orangedark {
            fill: #ef6c00;
        }

        .grey {
            fill: #bdbdbd;
        }

        .greydark {
            fill: #616161;
        }

        width: 100%;
        max-width: 400px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: -webkit-transform 0.6s;
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        transition: transform 0.6s,
        -webkit-transform 0.6s;
        cursor: pointer;

        .front {
            position: absolute;
            width: 100%;
            max-width: 400px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-font-smoothing: antialiased;
            color: #47525d;
        }

        .back {
            position: absolute;
            width: 100%;
            max-width: 400px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-font-smoothing: antialiased;
            color: #47525d;
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
    }

    #generatecard {
        cursor: pointer;
        float: right;
        font-size: 12px;
        color: #fff;
        padding: 2px 4px;
        background-color: #909090;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    #svgname {
        text-transform: uppercase;
    }

    #cardfront {
        .st2 {
            fill: #FFFFFF;
        }

        .st3 {
            font-family: 'Source Code Pro', monospace;
            font-weight: 600;
        }

        .st4 {
            font-size: 54.7817px;
        }

        .st5 {
            font-family: 'Source Code Pro', monospace;
            font-weight: 400;
        }

        .st6 {
            font-size: 33.1112px;
        }

        .st7 {
            opacity: 0.6;
            fill: #FFFFFF;
        }

        .st8 {
            font-size: 24px;
        }

        .st9 {
            font-size: 36.5498px;
        }

        .st10 {
            font-family: 'Source Code Pro', monospace;
            font-weight: 300;
        }

        .st11 {
            font-size: 16.1716px;
        }

        .st12 {
            fill: #4C4C4C;
        }
    }

    #cardback {
        .st0 {
            fill: none;
            stroke: #0F0F0F;
            stroke-miterlimit: 10;
        }

        .st2 {
            fill: #111111;
        }

        .st3 {
            fill: #F2F2F2;
        }

        .st4 {
            fill: #D8D2DB;
        }

        .st5 {
            fill: #C4C4C4;
        }

        .st6 {
            font-family: 'Source Code Pro', monospace;
            font-weight: 400;
        }

        .st7 {
            font-size: 27px;
        }

        .st8 {
            opacity: 0.6;
        }

        .st9 {
            fill: #FFFFFF;
        }

        .st10 {
            font-size: 24px;
        }

        .st11 {
            fill: #EAEAEA;
        }

        .st12 {
            font-family: 'Rock Salt', cursive;
        }

        .st13 {
            font-size: 37.769px;
        }
    }

    .creditcard.flipped {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.icon-addcart {
    color: #88c8bc;
    display: block;

    span {
        width: 100px;
        height: 100px;
        display: table;
        margin: 0 auto;
        background: lighten(#000, 98%);
        border-radius: 50%;
    }

    i {
        display: table-cell;
        vertical-align: middle;
        font-size: 50px;
    }
}

.icon-address {
    color: #88c8bc;
    display: block;

    span {
        width: 50px;
        height: 50px;
        display: table;
        margin: 0 auto;
        background: lighten(#000, 98%);
        border-radius: 50%;
    }

    i {
        display: table-cell;
        vertical-align: middle;
        font-size: 23px;
    }
}

.input-group-append {
    & button {
        border-radius: 0.25rem !important;
        padding: 0.5rem !important;
    }
}

.show_hide_password {
    position: relative;
    cursor: pointer;
    // margin-left: 10px;

    & .icon-eye {
        position: absolute;
        right: 13px;
        top: 13px;
    }
}

.cursor-pointer {
    cursor: pointer;
}
